* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

label {
    text-align: start;
}

.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: #a0e8fb;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    background-color: #4cf799;
}

.logo img{
    width: 60px;
    height: 60px;
    /* background: url(/images/logo_panda.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
}

.headerMenu,
.headerProfile,
.search-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerMenu div {
    margin: 5px 15px;
}

select {
    margin: 0 .5em;
    margin-left: 2em;
    text-decoration: none;
    background-color: none;
}

.headerProfile img {
    width: 40px;
    height: 40px;
    /* background: url(/images/logo_profile.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.containerBody {
    width: 100%;
    height: calc(100% - 14%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.login {
    width: 300px;
    height: min-content;
    margin-top: 50px;
    padding: 1em;
    border: 1px solid black;
    background-color: #e6e6e6;
    box-shadow: 5px 5px 8px 5px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

.table,
.contacts {
    width: 95%;
    padding: 1em;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #c3f1ff;
    overflow: scroll;
}

table {
    max-width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border-bottom: 1px solid black;
}

h3,
button {
    margin: 1em;
}

#docAdd {
    position: absolute;
    top: 150px;
    padding: 0 1em;
    width: 600px;
    border: 1px solid black;
    background-color: #e6e6e6;
    box-shadow: 5px 5px 8px 5px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

input,
button,
textarea {
    padding: 3px;
}

/* propertiesFile */
.propertiesFile {
    padding: 1em;
}

.propertiesFileTitleBox {
    display: grid;
    grid-template-columns: 80px 15% auto max-content;
}

.logoFile {
    width: 80px;
    height: 80px;
}

p {
    color: gray;
    font-size: 10pt;
}

.commit {
    margin: 1em;
    text-align: start;
    border-top: 1px solid black;
}

.commitBtn {
    text-align: end;
}