<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/styleAdmin.css" th:href="@{/styleAdmin.css}"/>
</head>
<body>
<div class="container">
    <!-- Header -->
    <div class="header">
        <div class="headerInner">
            <a href="/">
                <div class="logo">
                    <img src="/images/logo_panda.jpeg">
                </div>
            </a>
            <div class="headerMenu">
                <div>
                    <a href="../fileStorage">Заявки</a>
                </div>
                <div>
                    <a href="../contacts">Проектная команда</a>
                </div>
                <div>Клиенты</div>
                <div>Мои заявки</div>
            </div>
            <div class="search-profile">
                <div class="headerSearch">
                    <input type="text" placeholder="Искать">
                    <button class="search">Поиск</button>
                </div>
                <div class="headerProfile">
                    <select name="" id="">
                        <option value="profile">Профиль</option>
                        <option value="login">Войти</option>
                        <option value="">3</option>
                        <option value="exit">Выйти</option>
                    </select>
                    <img src="/images/logo_profile.png">
                </div>

            </div>

        </div>
    </div>

    <!-- Body -->

    <div class="contentBody">
        <div class="side-menu">
            <ul>
                <li><a href="/admin">Домой</a></li>
                <li><a href="/tasksAdmin">Задачи</a></li>
                <li><a href="#">Сотрудники</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        
        <div class="containerBody">
            <h1>asldkfj</h1>
        </div>
    
    </div>
<script src="scriptAdmin.js"></script>
</body>
</html>