<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/style.css" th:href="@{/style.css}" />
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div id="header" class="header">
            <div id="headerInner" class="headerInner">
                <a href="/">
                    <div class="logo">
                        <img src="/images/logo_panda.jpeg">
                    </div>
                </a>
                <div class="headerMenu">
                    <div>
                        <a href="../fileStorage">Заявки</a>
                    </div>
                    <div>
                        <a href="../contacts">Проектная команда</a>
                    </div>
                    <div>Клиенты</div>
                    <div>Мои заявки</div>
                </div>
                <div class="search-profile">
                    <div class="headerSearch">
                        <input type="text" placeholder="Искать">
                        <button class="search">Поиск</button>
                    </div>
                </div>
                <div>
                    <div id="headerProfile" class="headerProfile">
                        <select name="" id="">
                            <option value="profile">Профиль</option>
                            <option value="login">Войти</option>
                            <option value="">3</option>
                            <option value="exit">Выйти</option>
                        </select>
                        <img src="/images/logo_profile.png">
                    </div>

                </div>
            </div>

            <div id="admHead">
            </div>

        </div>

        <!-- Body -->
        <div class="containerBody">
            <div class="table">
                <button id="createTask" onclick="toggleVisibility(document.getElementById('add-task').id)">Добавить
                    задачу</button>
                <button id="uploadFile" onclick="toggleVisibility(document.getElementById('upload-file').id)">Загрузить
                    файл
                    в хранилище</button>
                <table>
                    <thead>
                        <tr>
                            <th width="10%">№</th>
                            <th width="auto">Имя</th>
                            <th width="15%">Заказчик</th>
                            <!-- <th width="10%">Исполнитель</th> -->
                            <th width="10%">Дата</th>
                            <!-- <th width="15%">Автор</th> -->
                        </tr>
                    </thead>
                    <tbody id="tasksTableBody">

                    </tbody>
                </table>
            </div>

            <div id="upload-file" style="display: none;">
                <h3>Загрузка файла в хранилище</h3>
                <div class="containerDocAdd">
                    <form id="upload-file-form">
                        <div class="form-group">
                            <label for="file">Файл для загрузки:</label>
                            <input type="file" id="file" name="file">
                        </div>
                        <button value="createTask"
                            onclick="uploadFile(),
                            toggleVisibility(document.getElementById('upload-file').id)">Загрузить
                            файл</button>
                        <button value="cancel" onclick="toggleVisibility(document.getElementById('upload-file').id),
                            cancelMyForm(document.getElementById('upload-file').id)">Отмена</button>
                    </form>
                </div>
            </div>

            <div id="add-task" style="display: none;">
                <h3>Создание заявки</h3>
                <div class="containerDocAdd">
                    <form id="taskForm">
                        <div class="form-group">
                            <label for="taskName">Название задачи:</label>
                            <input type="text" id="nameTask" name="nameTask">
                        </div>
                        <div class="form-group">
                            <label for="deadLine">Deadline:</label>
                            <input type="date" id="deadLine" name="deadLine">
                        </div>
                        <div class="form-group">
                            <label for="customerId">Заказчик:</label>
                            <select type="text" id="customerId" name="customerId">
                                <option value="">Выберите файл</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="executors">Исполнители:</label>
                            <select type="text" id="executors" name="executors">
                                <option value="">Выберите файл</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fileId">Выберите файл:</label>
                            <select id="fileId" name="fileId">
                                <option value="">Выберите файл</option>
                            </select>
                        </div>
                        <button id="btn" value="createTask"
                            onclick="toggleVisibility(document.getElementById('add-task').id)">Создать задачу</button>
                        <button value="cancel" onclick="toggleVisibility(document.getElementById('add-task').id), 
                            cancelMyForm(document.getElementById('taskForm').id)">Отменить
                            создание</button>
                    </form>

                    <script>

                        // Глобальная переменная, в которую будут сохранены данные
                        let authEmployee;

                        //Загрузка файла на сервер
                        function uploadFile() {
                            alert('Получаем файл из input');
                            // Получаем файл из input
                            const fileInput = document.getElementById('file');
                            alert(fileInput);
                            console.log(fileInput);
                            const file = fileInput.files[0];
                            const employeeId = authEmployee.id;

                            if (!file) {
                                alert('Выберите файл для загрузки.');
                                return;
                            }

                            // Создаем объект FormData
                            const formData = new FormData();
                            formData.append('file', file);
                            formData.append('employeeId', employeeId);

                            // Настройка запроса
                            const xhr = new XMLHttpRequest();
                            xhr.open('POST', 'http://localhost:8080/api/v1/files/upload-file', true);

                            // Отправляем данные формы
                            xhr.send(formData);

                            // Обработка ответа от сервера
                            xhr.onload = function () {
                                if (xhr.status === 200) {
                                    alert('Файл успешно загружен на сервер.');
                                } else {
                                    alert('Произошла ошибка при загрузке файла.');
                                }
                            };

                            // Обработка ошибок при отправке запроса
                            xhr.onerror = function () {
                                alert('Произошла ошибка при отправке запроса на сервер.');
                            };
                        }


                        //Проверка роли
                        function checkRole(dataempl) {
                            const role = dataempl.role;
                            console.log(role);
                            if (role === 'ROLE_ADM') {
                                console.log('проверка роли');
                                const header = document.getElementById('admHead');
                                console.log(header);
                                header.innerHTML = `
                                <div class="side-menu">
                                    <div class="u">
                                        <div class="l"><a href="/admin">Домой</a></div>
                                        <div class="l"><a href="/tasksAdmin">Задачи</a></div>
                                        <div class="l"><a href="#">Сотрудники</a></div>
                                        <div class="l"><a href="#">Portfolio</a></div>
                                        <div class="l"><a href="#">Contact</a></div>
                                    </div>
                                </div>
                                `;
                            }
                        }

                        // function cancelMyForm(idForm) {
                        //     document.getElementById(idForm).reset();
                        //     window.location.href = "/tasks";
                        // }

                        // Функция для выполнения запроса и получения данных
                        function fetchData() {
                            return fetch('http://localhost:8080/api/v1/currents/current-employee-id')
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Ошибка HTTP, статус ' + response.status);
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    // В этом блоке вы получаете данные и можете сделать с ними что-то нужное
                                    console.log('Данные получены:', data);
                                    authEmployee = data; // сохранение данных в глобальную переменную
                                    checkRole(authEmployee);
                                })
                                .catch(error => {
                                    // Обработка ошибок
                                    console.error('Произошла ошибка:', error);
                                });
                        }

                        // Загрузка списка сотрудников с сервера
                        async function loadDataEmployees(url, dropdownId) {
                            try {
                                const response = await axios.get(url);
                                const data = response.data;

                                // Находим выпадающий список по его id
                                const dropdown = document.getElementById(dropdownId);

                                // Очищаем список от старых элементов
                                dropdown.innerHTML = '<option value="">Выберите...</option>';

                                // Добавляем новые элементы в список
                                data.forEach(item => {
                                    const option = document.createElement('option');
                                    option.value = item.id; // Предполагается, что каждый элемент имеет поле id
                                    option.textContent = `${item.name} ${item.surname}`; // Предполагается, что каждый элемент имеет поле name
                                    dropdown.appendChild(option);
                                });

                            } catch (error) {
                                console.error('Ошибка при загрузке данных:', error);
                            }
                        }


                        // Загрузка списка файлов с сервера
                        async function loadDataFile(url, dropdownId) {
                            try {
                                const response = await axios.get(url);
                                const data = response.data;

                                // Находим выпадающий список по его id
                                const dropdown = document.getElementById(dropdownId);

                                // Очищаем список от старых элементов
                                dropdown.innerHTML = '<option value="">Выберите...</option>';

                                // Добавляем новые элементы в список
                                data.forEach(item => {
                                    const option = document.createElement('option');
                                    option.value = item.id; // Предполагается, что каждый элемент имеет поле id
                                    option.textContent = item.nameFile; // Предполагается, что каждый элемент имеет поле name
                                    dropdown.appendChild(option);
                                });

                            } catch (error) {
                                console.error('Ошибка при загрузке данных:', error);
                            }
                        }

                        // Загрузка списка заказчиков с сервера
                        async function loadDataCustomer(url, dropdownId) {
                            try {
                                const response = await axios.get(url);
                                const data = response.data;

                                // Находим выпадающий список по его id
                                const dropdown = document.getElementById(dropdownId);

                                // Очищаем список от старых элементов
                                dropdown.innerHTML = '<option value="">Выберите...</option>';

                                // Добавляем новые элементы в список
                                data.forEach(item => {
                                    const option = document.createElement('option');
                                    option.value = item.id; // Предполагается, что каждый элемент имеет поле id
                                    option.textContent = item.nameOrg; // Предполагается, что каждый элемент имеет поле name
                                    dropdown.appendChild(option);
                                });

                            } catch (error) {
                                console.error('Ошибка при загрузке данных:', error);
                            }
                        }

                        // Загрузка данных с сервера и заполнение выпадающих списков при загрузке страницы
                        document.addEventListener('DOMContentLoaded', () => {
                            loadDataEmployees('http://localhost:8080/api/v1/employees/get-all-employees', 'executors');
                            loadDataFile('http://localhost:8080/api/v1/files/all-files', 'fileId');
                            loadDataCustomer('http://localhost:8080/api/v1/customers/get-all-customers', 'customerId');
                        });

                        document.getElementById('taskForm').addEventListener('submit', function (event) {
                            event.preventDefault(); // Предотвращаем отправку формы по умолчанию                                    console.log('1234');

                            // Собираем данные формы в объект FormData
                            const nameTask = document.getElementById('nameTask').value;
                            const customerId = document.getElementById('customerId').value;
                            const executors = document.getElementById('executors').value;
                            const fileId = document.getElementById('fileId').value;
                            const deadLine = document.getElementById('deadLine').value;
                            fetch('http://localhost:8080/api/v1/currents/current-employee-id')
                                .then(response => response.json())
                                .then(userDetails => {
                                    const authorTask = `${authEmployee.name} ${authEmployee.surname}`;
                                    console.log(userDetails);
                                    console.log(authorTask);

                                    // Данные о задаче, которые нужно отправить на сервер
                                    const taskData = getEmployee(executors, fileId, nameTask, authorTask, customerId, deadLine);
                                    taskData.then(data => {
                                        console.log(data)
                                        const urlTaskData = 'http://localhost:8080/api/v1/tasks/add-task';

                                        // Формирование POST запроса с использованием Fetch API
                                        fetch(urlTaskData, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json', // Указываем тип содержимого (JSON)
                                            },
                                            body: JSON.stringify(data) // Преобразуем объект в JSON строку для отправки
                                        })
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error('Network response was not ok');
                                                }
                                                return response.json(); // Разбираем JSON ответ в JavaScript объект
                                            })
                                            .then(data => {
                                                console.log('Успешный ответ:', data);
                                            })
                                            .catch(error => {
                                                console.error('Ошибка при выполнении запроса:', error);
                                            });
                                    });
                                })
                                .catch(error => {
                                    console.error('Ошибка при получении данных о пользователе:', error);
                                });

                            this.reset();
                        });

                        async function getEmployee(exec, fId, nameTask, authorTask, customerId, deadLine) {
                            // Формируем URL для запроса сотрудника
                            const urlEmployee = `http://localhost:8080/api/v1/employees/get-employee-by-id?id=${exec}`;
                            const urlMyFileDB = `http://localhost:8080/api/v1/files/get-file-by-id?id=${fId}`;

                            // Выполняем GET запрос с использованием fetch
                            try {
                                const responseEmployee = await axios.get(urlEmployee);
                                const responseFile = await axios.get(urlMyFileDB);

                                console.log(`globalData ${authEmployee.name} ${authEmployee.surname}`)
                                const taskData = {
                                    fileId: {
                                        id: responseFile.data.id,
                                        nameFile: responseFile.data.nameFile,
                                        size: responseFile.data.size,
                                        typeFile: responseFile.data.typeFile,
                                        dateOfChange: responseFile.data.dateOfChange,
                                        pathToStorage: responseFile.data.pathToStorage,
                                    },
                                    nameTask: nameTask,
                                    authorTask: authorTask,
                                    customerId: customerId,
                                    executors: [{
                                        id: responseEmployee.data.id,
                                        name: responseEmployee.data.name,
                                        surname: responseEmployee.data.surname,
                                        employmentDate: responseEmployee.data.employmentDate,
                                        jobTitle: responseEmployee.data.jobTitle,
                                        department: responseEmployee.data.department,
                                        authentication: responseEmployee.data.authentication,
                                        humanId: responseEmployee.data.humanId,
                                        role: responseEmployee.data.role
                                    }],
                                    deadLine: deadLine,
                                };

                                return taskData;
                            }
                            catch (error) {
                                console.error('Ошибка при загрузке данных:', error);
                            }
                        };

                        fetchData();

                    </script>
                </div>
            </div>
            <!-- <h3>Добавление файла</h3>
            <div class="containerDocAdd">
                <form action="/user" th:action="@{/files/add-file}" method="post">
                <input type="text" name="nameFile" placeholder="Название и формат файла"><br>
                 <div class="bottons">
                        <button onclick="toggleVisibility()" type="submit" name="select" value="add">Добавить</button>
                        <button onclick="toggleVisibility()" type="submit" name="select" value="close">Закрыть</button>
                    </div>
                </form>
            </div> -->
        </div>
    </div>

    <script th:src="@{/script.js}"></script>
    <script th:src="@{/scriptTasks.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</body>

</html>