<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/style.css" th:href="@{/style.css}" />
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <div class="headerInner">
                <a href="/">
                    <div class="logo">
                        <img src="/images/logo_panda.jpeg">
                    </div>
                </a>
                <div class="headerMenu">
                    <div>
                        <a href="../fileStorage">Заявки</a>
                    </div>
                    <div>
                        <a href="../contacts">Проектная команда</a>
                    </div>
                    <div>Клиенты</div>
                    <div>Мои заявки</div>
                </div>
                <div class="search-profile">
                    <div class="headerSearch">
                        <input type="text" placeholder="Искать">
                        <button class="search">Поиск</button>
                    </div>
                </div>
                <div>
                    <div id="headerProfile" class="headerProfile">
                        <select name="" id="">
                            <option value="profile">Профиль</option>
                            <option value="login">Войти</option>
                            <option value="">3</option>
                            <option value="exit">Выйти</option>
                        </select>
                        <img src="/images/logo_profile.png">
                    </div>

                </div>

            </div>
        </div>

        <!-- Body -->
        <div class="containerBody">
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th width="10%">№</th>
                            <th width="auto">Имя</th>
                            <th width="15%">Заказчик</th>
                            <!-- <th width="10%">Исполнитель</th> -->
                            <th width="10%">Дата</th>
                            <!-- <th width="15%">Автор</th> -->
                        </tr>
                    </thead>
                    <tbody id="tasksTableBody">

                    </tbody>
                </table>
                <button onclick="toggleVisibility()">Добавить</button>
                <button onclick="toggleVisibility1()">открыть</button>
            </div>

            <div id="docAdd" style="display: none;">
                <h3>Создание заявки</h3>
                <div class="containerDocAdd">
                    <form id="taskForm">
                        <div class="form-group">
                            <label for="taskName">Название задачи:</label>
                            <input type="text" id="nameTask" name="nameTask">
                        </div>
                        <div class="form-group">
                            <label for="customer">Заказчик:</label>
                            <input type="text" id="customerId" name="customerId">
                        </div>
                        <div class="form-group">
                            <label for="deadLine">Deadline:</label>
                            <input type="date" id="deadLine" name="deadLine">
                        </div>
                        <div class="form-group">
                            <label hidden for="authorTask">authorTask:</label>
                            <input hidden type="date" id="authorTask" name="authorTask">
                        </div>
                        <div class="form-group">
                            <label for="executors">Исполнители:</label>
                            <select type="text" id="executors" name="executors">
                                <option value="">Выберите файл</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fileId">Выберите файл:</label>
                            <select id="fileId" name="fileId">
                                <option value="">Выберите файл</option>
                            </select>
                        </div>
                        <button type="" onclick="toggleVisibility()">Создать задачу</button>
                        <button type="" onclick="toggleVisibility()">Отменить создание</button>
                    </form>

                    <script>

                        var employeeDto = fetch('http://localhost:8080/api/v1/currents/current-employee-id');
                        console.log(employeeDto);
                        var e = '';
                        employeeDto.then(data => {e = data.json()});
                        console.log(e);
                        var obj = new Promise((resolve, reject) => {
                            data => {
                                console.log(data.then());
                                resolve(data);
                            }
                        })
                        obj.then(data => {
                            console.log(data);
                        });
                        console.log(obj);


                        //загрузка данных о залогированном пользователе
                        // async function loadDataAuthEmployee() {
                        //     // const url = 'http://localhost:8080/api/v1/currents/current';

                        //     fetch('http://localhost:8080/api/v1/currents/current')
                        //            .then(response => response.json())
                        //            .then(userDetails => {
                        //                console.log(userDetails.username);
                        //            })
                        //            .catch(error => {
                        //                console.error('Ошибка при получении данных о пользователе:', error);
                        //            });
                        //     }
                        // Загрузка списка файлов с сервера
                        async function loadDataAndPopulateDropdown(url, dropdownId) {
                            try {
                                const response = await axios.get(url);
                                const data = response.data;

                                // Находим выпадающий список по его id
                                const dropdown = document.getElementById(dropdownId);

                                // Очищаем список от старых элементов
                                dropdown.innerHTML = '<option value="">Выберите...</option>';

                                // Добавляем новые элементы в список
                                data.forEach(item => {
                                    const option = document.createElement('option');
                                    option.value = item.id; // Предполагается, что каждый элемент имеет поле id
                                    option.textContent = item.name; // Предполагается, что каждый элемент имеет поле name
                                    dropdown.appendChild(option);
                                });

                            } catch (error) {
                                console.error('Ошибка при загрузке данных:', error);
                            }
                        }

                        // Загрузка данных с сервера и заполнение выпадающих списков при загрузке страницы
                        document.addEventListener('DOMContentLoaded', () => {
                            loadDataAndPopulateDropdown('http://localhost:8080/api/v1/employees/get-all-employees', 'executors');
                            loadDataAndPopulateDropdown('http://localhost:8080/api/v1/files/all-files', 'fileId');
                            // loadDataAuthEmployee();
                            // console.log(authorTask);
                        });

                        document.getElementById('taskForm').addEventListener('submit', function (event) {
                            event.preventDefault(); // Предотвращаем отправку формы по умолчанию                                    console.log('1234');

                            // Собираем данные формы в объект FormData
                            const nameTask = document.getElementById('nameTask').value;
                            const customerId = document.getElementById('customerId').value;
                            const executors = document.getElementById('executors').value;
                            const fileId = document.getElementById('fileId').value;
                            const deadLine = document.getElementById('deadLine').value;
                            // const authorTask = document.getElementById('authorTask').value;
                            // console.log(authorTask);


                            // const employee = getEmployee(executors);
                            // const myFileDB = getFileDB(fileId).then();
                            // console.log('empl');
                            // console.log(executors);
                            // console.log(employee);
                            // console.log('mf');
                            // console.log(myFileDB);

                            // const id='';
                            // const name = '';
                            // const surname = '';
                            // const employmentDate = '';
                            // const jobTitle = '';
                            // const department = '';
                            // const authentication = '';
                            // const humanId = '';
                            // const role = '';

                            // const urlEmployee = `http://localhost:8080/employee/get-employee-by-id?id=${executors}`;

                            // // Выполняем GET запрос с использованием fetch
                            // try {
                            //     const response = axios.get(urlEmployee);
                            //     const data = response.data;

                            //     id = data.id;
                            //     name = data.name;
                            //     surname = data.surname;
                            //     employmentDate =data.employmentDate;
                            //     jobTitle = data.jobTitle;
                            //     department = data.department;
                            //     authentication = data.authentication;
                            //     humanId = data.humanId;
                            //     role = data.role;
                            //     console.log(name, surname);
                            // }
                            // catch (error) {
                            //     console.error('Ошибка при загрузке данных:', error);
                            // }


                            fetch('http://localhost:8080/api/v1/currents/current-employee-id')
                                .then(response => response.json())
                                .then(userDetails => {
                                    const authorTask = `${userDetails.name} ${userDetails.surname}`;
                                    console.log(userDetails);
                                    console.log(authorTask);

                                    // Данные о задаче, которые нужно отправить на сервер
                                    const taskData = getEmployee(executors, fileId, nameTask, authorTask, customerId, deadLine);
                                    taskData.then(data => {
                                        console.log(data)
                                        const urlTaskData = 'http://localhost:8080/api/v1/tasks/add-task';

                                        // Формирование POST запроса с использованием Fetch API
                                        fetch(urlTaskData, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json', // Указываем тип содержимого (JSON)
                                            },
                                            body: JSON.stringify(data) // Преобразуем объект в JSON строку для отправки
                                        })
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error('Network response was not ok');
                                                }
                                                return response.json(); // Разбираем JSON ответ в JavaScript объект
                                            })
                                            .then(data => {
                                                console.log('Успешный ответ:', data);
                                            })
                                            .catch(error => {
                                                console.error('Ошибка при выполнении запроса:', error);
                                            });

                                    });


                                })
                                .catch(error => {
                                    console.error('Ошибка при получении данных о пользователе:', error);
                                });



                            // // Данные о задаче, которые нужно отправить на сервер
                            // const taskData = getEmployee(executors, fileId, nameTask, authorTask, customerId, deadLine);
                            // taskData.then(data => {
                            //     console.log(data)
                            //     const urlTaskData = 'http://localhost:8080/api/v1/tasks/add-task';

                            //     // Формирование POST запроса с использованием Fetch API
                            //     fetch(urlTaskData, {
                            //         method: 'POST',
                            //         headers: {
                            //             'Content-Type': 'application/json', // Указываем тип содержимого (JSON)
                            //         },
                            //         body: JSON.stringify(data) // Преобразуем объект в JSON строку для отправки
                            //     })
                            //         .then(response => {
                            //             if (!response.ok) {
                            //                 throw new Error('Network response was not ok');
                            //             }
                            //             return response.json(); // Разбираем JSON ответ в JavaScript объект
                            //         })
                            //         .then(data => {
                            //             console.log('Успешный ответ:', data);
                            //         })
                            //         .catch(error => {
                            //             console.error('Ошибка при выполнении запроса:', error);
                            //         });

                            // });
                            console.log('enter taskData');
                            console.log(taskData);

                            // URL сервера, куда отправляем запрос

                        });


                        // console.log('executorsId');
                        // console.log(executors);

                        async function getEmployee(exec, fId, nameTask, authorTask, customerId, deadLine) {
                            // Формируем URL для запроса сотрудника
                            const urlEmployee = `http://localhost:8080/api/v1/employees/get-employee-by-id?id=${exec}`;
                            const urlMyFileDB = `http://localhost:8080/api/v1/files/get-file-by-id?id=${fId}`;

                            // Выполняем GET запрос с использованием fetch
                            try {
                                const responseEmployee = await axios.get(urlEmployee);
                                const responseFile = await axios.get(urlMyFileDB);
                                // const dataEmployee =
                                // {
                                //     id: response.data.id,
                                //     name: response.data.name,
                                //     surname: response.data.surname,
                                //     employmentDate: response.data.employmentDate,
                                //     jobTitle: response.data.jobTitle,
                                //     department: response.data.department,
                                //     authentication: response.data.authentication,
                                //     humanId: response.data.humanId,
                                //     role: response.data.role
                                // };

                                const taskData = {
                                    fileId: {
                                        id: responseFile.data.id,
                                        nameFile: responseFile.data.nameFile,
                                        size: responseFile.data.size,
                                        typeFile: responseFile.data.typeFile,
                                        dateOfChange: responseFile.data.dateOfChange,
                                        pathToStorage: responseFile.data.pathToStorage,
                                    },
                                    nameTask: nameTask,
                                    authorTask: authorTask,
                                    customerId: customerId,
                                    executors: [{
                                        id: responseEmployee.data.id,
                                        name: responseEmployee.data.name,
                                        surname: responseEmployee.data.surname,
                                        employmentDate: responseEmployee.data.employmentDate,
                                        jobTitle: responseEmployee.data.jobTitle,
                                        department: responseEmployee.data.department,
                                        authentication: responseEmployee.data.authentication,
                                        humanId: responseEmployee.data.humanId,
                                        role: responseEmployee.data.role
                                    }],
                                    deadLine: deadLine,
                                };


                                // fetch(urlEmployee)
                                //     .then(response => {
                                //         // Проверяем успешность запроса
                                //         if (!response.ok) {
                                //             throw new Error(`HTTP error! Status: ${response.status}`);
                                //         }
                                //         // Преобразуем полученный ответ в JSON
                                //         return response.json();
                                //     })
                                //     .then(dataEmployee => {
                                //         // Обрабатываем полученные данные (предполагается, что сервер вернул JSON с полями имя, фамилия, роль)

                                //         const {
                                // id: id,
                                // name: name,
                                // surname: surname,
                                // employmentDate: employmentDate,
                                // jobTitle: jobTitle,
                                // department: department,
                                // authentication: authentication,
                                // humanId: humanId,
                                // role: role
                                //         } = dataEmployee;

                                console.log('enter employee');
                                console.log(taskData);
                                return taskData;
                            }
                            catch (error) {
                                console.error('Ошибка при загрузке данных:', error);
                            }
                        };

                        // console.log('fileId');
                        // console.log(fileId);

                        // async function getFileDB(fId) {
                        //     // Формируем URL для запроса сотрудника
                        //     const urlMyFileDB = `http://localhost:8080/files/get-file-by-id?id=${fId}`;

                        //     // Выполняем GET запрос с использованием fetch
                        //     try {
                        //         const response = await axios.get(urlMyFileDB);
                        //         const dataMyFileDB = response.data;


                        //         // fetch(urlMyFileDB)
                        //         //     .then(response => {
                        //         //         // Проверяем успешность запроса
                        //         //         if (!response.ok) {
                        //         //             throw new Error(`HTTP error! Status: ${response.status}`);
                        //         //         }
                        //         //         // Преобразуем полученный ответ в JSON
                        //         //         return response.json();
                        //         //     })
                        //         //     .then(dataMyFileDB => {
                        //         //         // Обрабатываем полученные данные (предполагается, что сервер вернул JSON с полями имя, фамилия, роль)
                        //         //         const {
                        //         // id: id,
                        //         // nameFile: nameFile,
                        //         // surname: surname,
                        //         // size: size,
                        //         // typeFile: typeFile,
                        //         // dateOfChange: dateOfChange,
                        //         // pathToStorage: pathToStorage,
                        //         //         } = dataMyFileDB;

                        //         console.log('enter myFileDB');
                        //         console.log(dataMyFileDB);
                        //         return dataMyFileDB;
                        //     }
                        //     catch (error) {
                        //         console.error('Ошибка при загрузке данных:', error);
                        //     }
                        // };


                    </script>

                    // window.onload = function () {
                    // fetch('http://localhost:8080/files/all-files')
                    // .then(response => response.json())
                    // .then(data => {
                    // const fileList = document.getElementById('fileId');
                    // data.forEach(file => {
                    // const option = document.createElement('option');
                    // option.value = file.id; // Здесь предполагается, что у файла есть уникальный идентификатор
                    // option.textContent = file.nameFile; // Предположим, что у файла есть поле "name"
                    // fileList.appendChild(option);
                    // });
                    // })
                    // .catch(error => console.error('Ошибка при загрузке списка файлов:', error));
                    // };

                    // JavaScript для обработки отправки формы
                    // let form = document.getElementById('taskForm');
                    // form.addEventListener('click', function (event) {
                    // event.preventDefault(); // Предотвращаем отправку формы по умолчанию

                    // // Дополнительная логика обработки данных формы, если нужно

                    // // Пример вывода данных в консоль
                    // console.log('12345', {
                    // nameTask: this.nameTask.value,
                    // customerId: this.customerId.value,
                    // executors: this.executors.value,
                    // fileId: this.fileId.value,
                    // });
                    // JavaScript для обработки отправки формы


                    // // Делаем что-то с полученными данными, например, выводим в консоль
                    // console.log('employee');
                    // console.log(data);
                    // jData = data;
                    // jd = {
                    // fileId: fileId,
                    // nameTask: nameTask,
                    // authorTask: executors,
                    // customerId: customerId,
                    // executors: {
                    // employee
                    // },
                    // deadLine: deadLine
                    // }
                    // console.log(jd);

                    // const urlAddTask = `http://localhost:8080/tasks/add-task`;
                    // fetch(urlAddTask, {
                    // method: 'POST',
                    // headers: {
                    // // 'ContentType': 'application/json',
                    // // 'Accept': 'application/json'
                    // 'Content-Type': 'application/json'
                    // },
                    // body: JSON.stringify(jd)
                    // })
                    // .then(response => {
                    // if (!response.ok) {
                    // throw new Error('Ошибка HTTP ' + response.status);
                    // }
                    // return response.json();
                    // })
                    // .then(data => {
                    // console.log('Задача успешно создана:', data);
                    // // Опционально: добавить здесь логику для обработки успешного создания задачи
                    // })
                    // .catch(error => {
                    // console.error('Ошибка при создании задачи:', error);
                    // // Опционально: добавить здесь логику для обработки ошибок при создании задачи
                    // });

                    // // Опционально: очистка формы после отправки
                    // this.reset();


                    // // console.log(`${id}, Имя: ${name}, Фамилия: ${surname}, Роль: ${role}, ${authentication}`);
                    // // })
                    // // .catch(error => {
                    // // // Ловим ошибки, если таковые возникли
                    // // console.error('Ошибка при выполнении запроса:', error);
                    // // });

                    // // // Отправляем POST-запрос на сервер
                    // // // fetch('http://localhost:8080/tasks/add-task', {
                    // // // method: 'POST',
                    // // // body: formData
                    // // // })
                    // // console.log(nameTask + ' 1');
                    // // console.log(customerId + ' 2');
                    // // // console.log(JSON.stringify(empl) + ' 3');
                    // // console.log(fileId + ' 4');

                    // // console.log(({
                    // // "fileId": fileId,
                    // // "nameTask": nameTask,
                    // // "authorTask": authorTask,
                    // // "customerId": customerId,
                    // // // "executors": empl,
                    // // "deadLine": deadLine
                    // // }))


                    // });

                    // });
                </div>
            </div>
            <!-- <h3>Добавление файла</h3>
            <div class="containerDocAdd">
                <form action="/user" th:action="@{/files/add-file}" method="post">
                <input type="text" name="nameFile" placeholder="Название и формат файла"><br>
                 <div class="bottons">
                        <button onclick="toggleVisibility()" type="submit" name="select" value="add">Добавить</button>
                        <button onclick="toggleVisibility()" type="submit" name="select" value="close">Закрыть</button>
                    </div>
                </form>
            </div> -->
        </div>
    </div>

    <script th:src="@{/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</body>

</html>